.oe_product_cart{
	border: 2px solid #eee;
	.o_wsale_product_information{
		margin-left: 22px;
    	margin-right: 22px;
	}
}

.product-action-icon{
	.product_button_li{
		height: 40px;
    	width: 40px;
		color:#002239;
		background:#ffffff;
		border: 1px solid #002239;
    	border-radius: 50px;
	}
	.product_button_li:hover{
		color:#ffffff;
		background:#002239;
		border-color: #0a2239;
	}

}

